.flex-container {
    max-width: 1200px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}

.blue {
    display: flex;
    width: 200px;
    height: 200px;
    background-color: blue;
}

.black {
    display: flex;
    width: 200px;
    height: 200px;
    background-color: black;
}

.red {
    display: flex;
    width: 200px;
    height: 200px;
    background-color: red;
}

.green {
    display: flex;
    width: 200px;
    height: 200px;
    background-color: green;
}