* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
.hacker_background {
  background-image: url(./img/background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  width: 100vw;
}
.java_mysql {
  background-color: black;
  color: white;
}
nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  position: sticky;
  top: 0;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}
h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 5vh;
}
.java_sql {
  float: right;
}
.php_html {
  float: left;
}
.what_is_ {
  text-align: left;
  margin: 5vh 10vw 5vh 10vw;
  font-size: large;
}
footer {
  flex: 1 100%;
  text-align: center;
  justify-content: center;
}
.footer_container {
  width: 100%;
  left: 0;
  text-align: center;
  padding: 2rem;
  background: #00a8c7;
  position: absolute;
  color: white;
  display: flex;
  position: absolute;
  bottom: 0;
}